@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url('../Gotham/GothamMedium.ttf') format("truetype");

}

@font-face {
    font-family: 'Gotham';
    font-weight: 800;
    src: url('../Gotham/GothamBold.ttf') format("truetype");

}


@font-face {
    font-family: 'Gotham';
    font-weight: 600;
    src: url('../Gotham/GothamMedium_1.ttf') format("truetype");

}

@font-face {
    font-family: 'Gotham';
    font-weight: 900;
    src: url('../Gotham/GothamBold.ttf') format("truetype");

}

@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    src: url('../Gotham/Gotham-Light.otf') format("opentype");
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    font-family: 'Gotham', sans-serif;
    overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

